<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Smart Traffic Management</h4>
                  <!--  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                    </p>-->
                </div>
                <div class="timeline-body">
                    <p>A system where centrally-controlled traffic signals and sensors regulate the flow of traffic through the city in response to demand.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">How Smart TRÀFICO can reduce Traffic Congestion on a busy road</h4>
                </div>
                <div class="timeline-body">
                    <p>Sensors connected to traffic signal keep sending information to a central server on number of vehicles piling.</p>
                    <p>WE get real-time data from sensors and traffic signals within 2km of intended junction & GIS mapping of roads.</p>
                    <p>When a threshold is reached, WE send a message to traffic display 1km before the signal</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">How Smart TRÀFICO can save life on road</h4>
                </div>
                <div class="timeline-body">
                    <p>Ambulance carrying a critical patient is driving at full speed towards hospital</p>
                    <p>A message is sent to the ambulance display panel in front of the driver informing him which the road to take</p>
                    <p>All signals towards hospital are asked to be on a particular color (Red or Green) prompting ambulance to pass through</p>
                </div>
            </div>
        </li>
        
        
        
    </ul>
</div>
